src

node_modules
package-lock.json
.git
build/
dist/

.eslintrc.cjs
.prettierrc.cjs
tsconfig.json

*.yml
*.yaml


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache
